<!DOCTYPE html>
<html>

<head>
    <meta chatset="utf-8">
    <title>FLEAS</title>
    <link rel='stylesheet' href='stylesheets/form_host_style.css' />
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src='javascripts/main.js'></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script charset="UTF-8" type="text/javascript" src="http://t1.daumcdn.net/postcode/api/core/180619/1529384927473/180619.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>
    <script>
        function address() {

            new daum.postcode.load(function () {
                new daum.Postcode({
                    oncomplete: function (data) {

                        var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraRoadAddr !== '') {
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }
                        // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                        if (fullRoadAddr !== '') {
                            fullRoadAddr += extraRoadAddr;
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
                        document.getElementById('roadAddress').value = fullRoadAddr;
                        document.getElementById('jibunAddress').value = data.jibunAddress;


                        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                        if (data.autoRoadAddress) {
                            //예상되는 도로명 주소에 조합형 주소를 추가한다.
                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                            document.getElementById('guide').innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';

                        } else if (data.autoJibunAddress) {
                            var expJibunAddr = data.autoJibunAddress;
                            document.getElementById('guide').innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';

                        } else {
                            document.getElementById('guide').innerHTML = '';
                        }
                    }


                }).open();
            });
        }
    </script>
</head>


<body>
    <header>
        Fleas 플리즈
    </header>
    <h1>신청-Flea Market Host</h1>
    <div>
        <form class="ui form">
            <div>
                <label>행사 명칭</label>
                <input type="text" placeholder="행사 명칭">
            </div>
            <div>
                <label>장소</label>
                <input type="text" id="postcode" placeholder="우편번호">
                <input type="button" onclick="address()" value="우편번호 찾기">
                <br>
                <input type="text" id="roadAddress" placeholder="도로명주소">
                <input type="text" id="jibunAddress" placeholder="지번주소">
                <span id="guide" style="color:#999"></span>

                <select>
                    <option value="서울">서울</option>
                    <option value="경기">경기</option>
                    <option value="인천">인천</option>
                    <option value="대전">대전</option>
                    <option value="대구">대구</option>
                    <option value="부산">부산</option>
                    <option value="울산">울산</option>
                    <option value="광주">광주</option>
                    <option value="강원">강원</option>
                    <option value="세종">세종</option>
                    <option value="충북">충북</option>
                    <option value="충남">충남</option>
                    <option value="경북">경북</option>
                    <option value="경남">경남</option>
                    <option value="전북">전북</option>
                    <option value="전남">전남</option>
                    <option value="제주">제주</option>
                </select>
                <input type="text" placeholder="상세주소">
            </div>
            <div>
                <label>일시</label>
                <input type="date" placeholder="start date">
                <input type="time"> ~
                <input type="date">
                <input type="time">
            </div>
            <div>
                <label>사진 첨부</label>
                <input type="image" value="첨부">
            </div>
            <div>
                <label>플리마켓 소개</label>
                <input type="text" placeholder="300자 내외">
                <textarea></textarea>
            </div>
            <input type="text" id="sample6_postcode" placeholder="우편번호">
            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
            <br>
            <input type="text" id="sample6_address" placeholder="주소">
            <input type="text" id="sample6_address2" placeholder="상세주소">

            <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
            <script>
                function sample6_execDaumPostcode() {
                    new daum.Postcode({
                        oncomplete: function (data) {
                            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                            var fullAddr = ''; // 최종 주소 변수
                            var extraAddr = ''; // 조합형 주소 변수

                            // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                fullAddr = data.roadAddress;

                            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                fullAddr = data.jibunAddress;
                            }

                            // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                            if (data.userSelectedType === 'R') {
                                //법정동명이 있을 경우 추가한다.
                                if (data.bname !== '') {
                                    extraAddr += data.bname;
                                }
                                // 건물명이 있을 경우 추가한다.
                                if (data.buildingName !== '') {
                                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                }
                                // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                                fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                            }

                            // 우편번호와 주소 정보를 해당 필드에 넣는다.
                            document.getElementById('sample6_postcode').value = data.zonecode; //5자리 새우편번호 사용
                            document.getElementById('sample6_address').value = fullAddr;

                            // 커서를 상세주소 필드로 이동한다.
                            document.getElementById('sample6_address2').focus();
                        }
                    }).open();
                }
            </script>
            <input type="submit" value="submit">
        </form>
    </div>


</body>

</html>