<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function myFunction() {
            var x = document.createElement("INPUT");
            x.setAttribute("type", "date");
            x.setAttribute("value", "--");

            var list = document.getElementById("userdate");
            list.insertBefore(x, list.childNodes[0]);
        }

    </script>
</head>

<body>
    <h1>Application(seller->host)</h1>
    <main>
        <form action="/login" method="post">
            <div>
                <p>날짜 입력:</p>
                <div id="userdate">
                    <input type="date" name="userdate" value="--">
                </div>
                <button type="button" onclick="myFunction()">추가하기</button>

            </div>

            <div>판매제품(품목)
                <input type="text" name="name" placeholder="판매제품(품목)">
            </div>
            <div>프리마켓 특징
                <textarea></textarea>
            </div>
            <div>참여동기/목적
                <textarea></textarea>
            </div>
            <div>사진첨부
                <input type="file" name="image">
            </div>

            <button type="submit">Sign in</button>
        </form>

    </main>
</body>

</html>