<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>
    <script src="javascripts/home.js"></script>
</head>

<body>
    <div class="ui container" id="conall">

        <header>
            <div id="head_top">
                로그인
            </div>

            <div id="main_logo">
                <img class="market_img" src="images/market.png" alt="market icon">
                <div id="fleas">
                    Fleas
                </div>
                <img class="market_img" src="images/market.png" alt="market icon">
            </div>

            <div class="ui five item menu">
                    <a href="/market" class="item">플리마켓</a>
                    <a href="/seller" class="item">셀러</a>
                    <a href="/notice" class="item">공지사항</a>
                    <a href="/review" class="item">리뷰</a>
                    <a href="/mypage" class="item">마이페이지</a>
            </div>
        </header>
        <div class="f3">
            <button class="ui pink button" style="  height: 60px;
                        width: 300px; float: left; background-color: #FF8D87 !important;"><a href="/formhost">마켓등록</a></button>

            <button class="ui pink button" style="  height: 60px;
                        width: 300px; float: right;  background-color: #FF8D87 !important;"><a href="/writenotice">셀러신청</a></button>

        </div>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 4</div>
                <img src="images/test01.jpg" class="test01">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 4</div>
                <img src="images/test02.jpg" class="test01">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 4</div>
                <img src="images/test03.jpg" class="test01">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 4</div>
                <img src="images/test04.jpg" class="test01">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
        <br>


        <div class="bottomtool">
            <div class="f1">
                <div class="subtitle"> <a href="/market">플리마켓</a></div>
                <div class="subplus"> <a href="/market">+더보기</a></div>

                <div class="f1img">
                    <a>
                        <img src="images/p1.jpg" class="pposter">
                    </a>
                    <a>
                        <img src="images/p2.jpg" class="pposter">
                    </a>
                    <a>
                        <img src="images/p3.jpg" class="pposter">
                    </a>
                    <a>
                        <img src="images/p4.jpg" class="pposter">
                    </a>
                </div>
            </div>


            <div class="f1">
                <div class="subtitle"><a href="/seller">셀러</a></div>
                <div class="subplus"><a href="/seller">+더보기</a></div>
                <div class="f1img">
                    <a>
                        <img src="images/p1.jpg" class="pposter">
                    </a>
                    <a>
                        <img src="images/p2.jpg" class="pposter">
                    </a>
                    <a>
                        <img src="images/p3.jpg" class="pposter">
                    </a>
                    <a>
                        <img src="images/p4.jpg" class="pposter">
                    </a>
                </div>
            </div>

            <div class="f1">
                <div class="subtitle"><a href="/notice">공지사항</a></div>
                <div class="subplus"><a href="/notice">+더보기</a></div>
                <div>text1</div>
                <div>text2</div>
                <div>text3</div>
                <div>text4</div>
            </div>



        </div>
    </div>

</body>

</html>