<!DOCTYPE html>
<html>

<head>
  <meta chatset="utf-8">
  <title>FLEAS</title>
  <link rel="shortcut icon" href="images/store.ico">
  <link rel='stylesheet' href='stylesheets/join_style.css' />
  <link rel="stylesheet" type="text/css" href="dist/semantic.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="dist/semantic.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

</head>

<body>
  <div class="article">
    <div class="main ui container" id="conall">
      <!-- 통일된 상단 메뉴 -->
      <header>
        <div id="head_top">
          <a href="login">로그인</a>
        </div>

        <div id="main_logo">
          <img class="market_img" src="images/market.png" alt="market icon">
          <div id="fleas">
            Fleas
          </div>
          <img class="market_img" src="images/market.png" alt="market icon">
        </div>

        <div class="ui five item menu">
          <a class="item">플리마켓</a>
          <a class="item">셀러</a>
          <a class="item">공지사항</a>
          <a class="item">리뷰</a>
          <a class="item">마이페이지</a>
        </div>
      </header>

      <div>
        <h2 id="title">
          로그인
        </h2>
      </div>

      <div class="application">

        <form class="ui form">
          <div class="field">
            <label>아이디</label>
            <input type="text" name="id" placeholder="Id">
          </div>
          <div class="field">
            <label>비밀번호</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <div id="form_btn" class="ui fluid large submit button">로그인</div>
        </form>

        <div id="join">
          계정이 없으신가요?
          <a href="join">회원가입</a>
        </div>
      </div>
    </div>

  </div>

</body>

</html>