<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Fleas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="top">
        <div>
            회원가입
        </div>
        <div>
            로그인
        </div>
    </div>

    <div>
        Fleas
    </div>

    <div id="menu">

    </div>

    <div>
        
    </div>
  </body>
</html>
