<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Pacifico');
    @import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff');

    body>.grid {
        height: 100%;
    }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }

    header {
        height: 20%;
        margin-top: 20px;
    }

    #fleas {
        font-family: 'Pacifico', cursive;
        font-size: 60px;
        font-weight: 400;
        margin-top: 35px;
    }

    #head_top {
        text-align: right;
    }

    .market_img {
        width: 80px;
    }

    #main_logo {
        display: -webkit-box;
        width: 300px;
        height: 50%;
        margin: 0 auto;
    }

    .item {
        box-sizing: border-box !important;
    }

    #join_button {
        /* background-color: #e65680; */
        margin-top: 30px;
    }

    .button {
        background-color: #a8c2d4 !important;
    }

    #title {
        border-bottom: 0.5px solid #dededf;
        margin: 60px 20px;
        padding-bottom: 13px;
        font-weight: normal;
    }

    .application {
        border: 1px solid #22242626;
        background-color: #f3f4f5;
        margin: 0 100px;
        padding: 50px;
    }

    .form {
        width: 350px;
        margin: 0 auto;
    }

    #conall {
        height: 100%;
    }

    #sample6_postcode {
        width: 165px !important;
    }

    .date {
        width: 160px !important;
    }

    .time {
        width: 140px !important;
    }

    .centertool {
        height: 80%;
        margin-top: 20px;
    }
</style>


<body>
    <div class="ui container" id="conall">

        <header>
            <div id="head_top">
                로그인
            </div>

            <div id="main_logo">
                <img class="market_img" src="images/market.png" alt="market icon">
                <div id="fleas">
                    Fleas
                </div>
                <img class="market_img" src="images/market.png" alt="market icon">
            </div>

            <div class="ui five item menu">
                <a class="item">플리마켓</a>
                <a class="item">셀러</a>
                <a class="item">공지사항</a>
                <a class="item">리뷰</a>
                <a class="item">마이페이지</a>
            </div>
        </header>


        <div class="centertool">
            <div class="toptool">
                <div class="protool">
                    <img src="images/p1.jpg" class="propicture">
                </div>
                <div>
                    <div class="option"></div>
                    <div class="name"></div>
                    <div class="company"></div>
                    <div class="goods"></div>
                    <div class="memo"></div>
                </div>

            </div>

            <div class="boardtool"></div>

            <div class="marktettool"></div>

            <div class="reviewtool"></div>
        </div>





    </div>
</body>

</html>