<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mypageseller.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>

</head>



<body>
    <div class="ui container" id="conall">

        <header>
            <div id="head_top">
                로그인
            </div>

            <div id="main_logo">
                <img class="market_img" src="images/market.png" alt="market icon">
                <div id="fleas">
                    Fleas
                </div>
                <img class="market_img" src="images/market.png" alt="market icon">
            </div>

            <div class="ui five item menu">
                <a href="/market" class="item">플리마켓</a>
                <a href="/seller" class="item">셀러</a>
                <a href="/notice" class="item">공지사항</a>
                <a href="/review" class="item">리뷰</a>
                <a href="/mypage" class="item">마이페이지</a>
            </div>
        </header>


        <div class="centertool">
            <div class="toptool">
                <button class="btnprofile">
                    <img src="images/p1.jpg" class="propicture">
                </button>
                <div class="profilename">
                    <div>
                        <div class="name">jieun</div>
                        <div class="ui label">
                            <i class="mail icon"></i>
                        </div>

                        <div class="company">OpenYearRound</div>
                        <div class="goods">아이스크림</div>
                        <div class="memo">맛있어요~ 놀러오세요</div>
                    </div>
                </div>
            </div>

            <div class="menutool">
                <a href="/mypageseller">
                    <span class="menu2t">게시물</span>
                </a>
                <a href="/mypageseller_good" class="menutop">
                    <span class="menu2t">좋아요</span>
                </a>
                <a href="/mypageseller_apply">
                    <span class="menu2t">신청한 마켓</span>
                </a>
                <a href="/mypageseller_participate">
                    <span class="menu2t">참가할 마켓</span>
                </a>
            </div>


            <div class="boardtool">
                <li class="picturetool">
                    <img src="images/p1.jpg" class="pposter">
                    <img src="images/p2.jpg" class="pposter">
                    <img src="images/p3.jpg" class="pposter">
                </li>
            </div>



            <!-- <script>
                for (var i = 0; i < 3; i++) {
                    document.write('');
                    document.write('');
                    document.write('');

                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');

                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                }

            </script> -->



            <!-- <div class="hmpicture">
                    <div class="" onmouseover="mouseOver();" onmouseout="mouseOut();">
                        <div class="">
                            <div class="">
                                if (i === 0) { document.write('
                                <button>'); document.write('
                                    <img class="" src="">'); document.write('
                                </button>'); } else if (i === 1) { document.write('
                                <img class="" rc="">'); } else if (i === 2) { document.write('
                                <img class="" src="">'); }
                            </div>
                        </div> 
                        <div class="mlmousein" id="mousemove" style="display:none;">
                <ul class="lplist">
                    <li class="pugreat">
                        <span class="rxheartmousein">좋아요</span>
                        <span>28</span>개</li>
                    <li class="apjcomment">
                        <span class="cqcommentmousein">댓글</span>
                        <span>6</span>개</li>
                </ul>
            </div> -->

        </div>
    </div>

    </div>

    </div>



</body>

</html>