<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLEAS</title>
    <link rel="shortcut icon" href="images/store.ico">
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mypageseller.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>
</head>

<body>
    <div class="ui container" id="conall">

        <header>
            <div id="head_top">
                <a href="login">로그인</a>
            </div>

            <div id="main_logo">
                <img class="market_img" src="images/market.png" alt="market icon">
                <div id="fleas">
                    Fleas
                </div>
                <img class="market_img" src="images/market.png" alt="market icon">
            </div>

            <div class="ui five item menu">
                <a href="/market" class="item">플리마켓</a>
                <a href="/seller" class="item">셀러</a>
                <a href="/notice" class="item">공지사항</a>
                <a href="/review" class="item">리뷰</a>
                <a href="/mypage" class="item">마이페이지</a>
            </div>
        </header>



        <table class="centertool">
            <tr class="toptool">

                <td class="btnprofile">
                    <img src="images/p1.jpg" class="propicture">
                </td>

                <td class="profilename">
                    <div>
                        <div class="name">jieun</div>
                        <div class="company">OpenYearRound</div>
                        <div class="goods">아이스크림</div>
                        <div class="memo">맛있어요~ 놀러오세요</div>
                    </div>
                </td>

                <td class="icontool">
                    <a href="/message" class="ui label" style="margin-bottom: 15px;">
                        <i class="mail icon"></i>
                    </a>

                    <a href="/form_board" class="ui label" style="margin-bottom: 15px;    width: 48px;">
                        <i class="file icon"></i>
                    </a>

                    <a href="/setting" class="ui label" style="margin-bottom: 15px;    width: 48px;">
                        <i class="icon settings"></i>
                    </a>
                </td>
            </tr>
        </table>
        <div class="menutool">
            <a href="/mypageseller">
                <span class="nmenu2t">게시물</span>
            </a>
            <a href="/mypageseller_good">
                <span class="nmenu2t">좋아요</span>
            </a>
            <a href="/mypageseller_apply">
                <span class="nmenu2t">신청한 마켓</span>
            </a>
            <a href="/mypageseller_participate">
                <span class="menu2t">참가할 마켓</span>
            </a>
        </div>

        <table class="ui padded table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>마켓</th>
                    <th>공고</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>홍대놀이터프리마켓</td>
                    <td>서울시 마포구 홍대놀이터 어딘가 오후12시~오후6시</td>
                </tr>
            </tbody>
        </table>



        <!-- <script>
                for (var i = 0; i < 3; i++) {
                    document.write('');
                    document.write('');
                    document.write('');

                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');

                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                    document.write('');
                }

            </script> -->



        <!-- <div class="hmpicture">
                    <div class="" onmouseover="mouseOver();" onmouseout="mouseOut();">
                        <div class="">
                            <div class="">
                                if (i === 0) { document.write('
                                <button>'); document.write('
                                    <img class="" src="">'); document.write('
                                </button>'); } else if (i === 1) { document.write('
                                <img class="" rc="">'); } else if (i === 2) { document.write('
                                <img class="" src="">'); }
                            </div>
                        </div> 
                        <div class="mlmousein" id="mousemove" style="display:none;">
                <ul class="lplist">
                    <li class="pugreat">
                        <span class="rxheartmousein">좋아요</span>
                        <span>28</span>개</li>
                    <li class="apjcomment">
                        <span class="cqcommentmousein">댓글</span>
                        <span>6</span>개</li>
                </ul>
            </div> -->

    </div>
    </div>

    </div>

    </div>



</body>

</html>