<!DOCTYPE html>
<html>

<head>
  <meta chatset="utf-8">
  <title>FLEAS</title>
  <link rel="shortcut icon" href="images/store.ico">
  <link rel='stylesheet' href='stylesheets/common_style.css' />
  <link rel='stylesheet' href='stylesheets/noticeitem.css' />
  <link rel="stylesheet" type="text/css" href="dist/semantic.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="dist/semantic.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

</head>

<body>
  <div class="main ui container" id="all">
    <!-- 통일된 상단 메뉴 -->
    <header>
      <div id="head_top">
        <a href="login">로그인</a>
      </div>

      <a href="home" id="main_logo">
        <img class="market_img" src="images/market.png" alt="market icon">
        <div id="fleas">
          Fleas
        </div>
        <img class="market_img" src="images/market.png" alt="market icon">
      </a>

      <div class="ui five item menu">
        <a href="market" class="item">플리마켓</a>
        <a href="seller" class="item">셀러</a>
        <a href="notice" class="active item">공지사항</a>
        <a href="review" class="item">리뷰</a>
        <a href="mypage" class="item">마이페이지</a>
      </div>
    </header>

    <div>
      <h2 id="title">
        공지사항
      </h2>
    </div>

    <div class="application">
      <div id="posttop">
        <span class="right">2018-08-17</span>
        <div id="posttitle">제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목</div>
      </div>
      <div>
        <span class="right">첨부파일</span>
        <div>글쓴이</div>
      </div>

      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula sapien, rutrum sed vestibulum eget, rhoncus ac erat. Aliquam erat volutpat. Sed convallis scelerisque enim at fermentum. Aliquam consectetur, est ac auctor iaculis, odio mi bibendum leo, in congue neque velit vel enim. Nullam vitae justo at mauris sodales feugiat. Praesent pellentesque ipsum eget tellus imperdiet ultrices. Sed ultricies nisi nec diam sodales fringilla. Quisque adipiscing cursus porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum scelerisque elit, eu pharetra dui pulvinar eget. Nam mollis mauris id tellus ultricies at porttitor neque vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </p>

      <div id="postbottom">
        <button class="ui button">이전글</button>
        <button class="ui button">다음글</button>
        <button class="ui button">목록</button>
        <button class="ui button">수정</button>
      </div>

    </div>

  </div>

</body>

</html>