<!DOCTYPE html>
<html>

<head>
  <meta chatset="utf-8">
  <title>FLEAS</title>
  <link rel="shortcut icon" href="images/store.ico">
  <link rel='stylesheet' href='stylesheets/common_style.css' />
  <link rel='stylesheet' href='stylesheets/notice_style.css' />
  <link rel="stylesheet" type="text/css" href="dist/semantic.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="dist/semantic.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <script type="text/javascript" href="javascripts/main.js"></script>
</head>

<body>
  <div class="main ui container" id="all">
    <!-- 통일된 상단 메뉴 -->
    <header>
      <div id="head_top">
        <a href="login">로그인</a>
      </div>

      <a href="home" id="main_logo">
        <img class="market_img" src="images/market.png" alt="market icon">
        <div id="fleas">
          Fleas
        </div>
        <img class="market_img" src="images/market.png" alt="market icon">
      </a>

      <div class="ui five item menu">
        <a href="market" class="item">플리마켓</a>
        <a href="seller" class="item">셀러</a>
        <a href="notice" class="active item">공지사항</a>
        <a href="review" class="item">리뷰</a>
        <a href="mypage" class="item">마이페이지</a>
      </div>
    </header>

    <div>
      <h2 id="title">
        공지사항
      </h2>
    </div>

    <div class="application">
      <div>검색</div>

      <table class="ui selectable table">
        <thead>
          <tr>
            <th class="notnum">번호</th>
            <th class="nottitle">제목</th>
            <th class="notuser">작성자</th>
            <th class="notdate">작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1234</td>
            <td>Approveddddddddddddddd dddddddddddddddd ddddddd</td>
            <td>성자</td>
            <td>2018-08-06</td>
          </tr>
          <tr>
            <td>1233</td>
            <td>Approved ddddddddddd dd ddddddddddd</td>
            <td>작작성자</td>
            <td>2018-08-04</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
          <tr>
            <td>1232</td>
            <td>Denied dddddddddddddd dddddddddd dddddddddddddd</td>
            <td>작성자</td>
            <td>2018-08-01</td>
          </tr>
        </tbody>
      </table>
      <div id="not_foot">
        <div class="thr"></div>
        <div class="thr" id="page_num">
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
        </div>
        <div class="thr" id="wb">
          <button id="writebtn" class="ui button" onclick="location.href='writenotice'">글쓰기</button>
        </div>
      </div>


    </div>

  </div>

</body>

</html>