<!DOCTYPE html>
<html>
    <head>
        <meta chatset="utf-8">
        <title>FLEAS</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    </head>
    <body>
        <h1>REVIEW</h1>
        <h4>플리마켓에서 산 상품들을 자랑해봅시다~!</h4>

        <div>

        </div>

        <div>

        </div>

        <div>
            
        </div>
    </body>
</html>
