<!DOCTYPE html>
<html>

<head>
  <meta chatset="utf-8">
  <title>FLEAS</title>
  <link rel="shortcut icon" href="images/store.ico">
  <link rel='stylesheet' href='stylesheets/common_style.css' />
  <link rel='stylesheet' href='stylesheets/seller.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" type="text/css" href="dist/semantic.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="dist/semantic.js"></script>

</head>

<body>
  <div class="main ui container" id="all">
    <!-- 통일된 상단 메뉴 -->
    <header>
      <div id="head_top">
        <a href="login">로그인</a>
      </div>

      <a href="home" id="main_logo">
        <img class="market_img" src="images/market.png" alt="market icon">
        <div id="fleas">
          Fleas
        </div>
        <img class="market_img" src="images/market.png" alt="market icon">
      </a>

      <div class="ui five item menu">
        <a href="market" class="item">플리마켓</a>
        <a href="seller" class="active item">셀러</a>
        <a href="notice" class="item">공지사항</a>
        <a href="review" class="item">리뷰</a>
        <a href="mypage" class="item">마이페이지</a>
      </div>
    </header>

    <div>
      <h2 id="title">
        셀러
      </h2>
    </div>

    <div class="application">
      <form class="ui form" id="search">
        <div>
          <select class="find2 ui search normal selection dropdown" multiple="" id="multi-select">
            <option value="">아이템 선택</option>
            <option value="MC">마카롱</option>
            <option value="WM">액체괴물</option>
            <option value="PJ">파우치ㆍ지갑</option>
            <option value="NS">천연비누</option>
            <option value="SC">수제청</option>
            <!-- Saving your scroll sanity !-->
            <option value="AC">악세사리</option>
            <option value="CL">옷</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>



        <div class="ui input find">
          <input type="text" placeholder="Search...">
        </div>

        <button class="ui button" id="search_btn">검색</button>
      </form>
      <div>
        <div class=itempart>
          <div class="itemtype">
            <div class="line"></div>
            <span>악세사리</span>
            <div class="line"></div>
          </div>

          <div>

          </div>

          <div class="more">
            <a href="">더보기</a>
          </div>
        </div>

        <div class=itempart>
          <div class="itemtype">
            <div class="line"></div>
            <span>액체괴물</span>
            <div class="line"></div>
          </div>

          <div class="more">
            <a href="">더보기</a>
          </div>
        </div>

        <div class=itempart>
          <div class="itemtype">
            <div class="line"></div>
            <span>수제청</span>
            <div class="line"></div>
          </div>

          <div class="more">
            <a href="">더보기</a>
          </div>
        </div>

        <div class=itempart>
          <div class="itemtype">
            <div class="line"></div>
            <span>마카롱</span>
            <div class="line"></div>
          </div>

          <div class="more">
            <a href="">더보기</a>
          </div>
        </div>

      </div>

      <div id="page_num">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
    </div>

  </div>
  <script>
    flatpickr(".inputdate", {
      minDate: "today"
    });

    $('.ui.dropdown')
      .dropdown()
      ;
    $('#search-select')
      .dropdown()
      ;

    $('#multi-select')
      .dropdown()
      ;
    $('.ui.normal.dropdown')
      .dropdown({
        maxSelections: 3
      })
      ;

  </script>
</body>

</html>