<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Form-seller</h1>
    <main>
        <form action="/sellerform" method="post">
            <div>
                <div>브랜드명(팀명)
                    <input type="text" name="name" placeholder="브랜드명(팀명)">
                </div>
                <div>이름
                    <input type="text" name="password" placeholder="이름">
                </div>
                <div>이메일주소
                    <input type="email" name="name" placeholder="이메일주소">
                </div>
                <div>전화번호
                    <input type="text" name="password" placeholder="전화번호">
                </div>
                <div>SNS주소
                    <input type="text" name="name" placeholder="SNS주소">
                </div>
                <div>판매제품(품목)
                    <input type="text" name="name" placeholder="판매제품(품목)">
                </div>
                <div>제품설명
                    <input type="text" name="name" placeholder="제품설명">
                </div>
                <div>기타
                    <input type="text" name="name" placeholder="기타">
                </div>

                <div>사진첨부
                    <input type="file" name="image">
                </div>
            </div>
            <button type="submit">Sign in</button>
        </form>

    </main>
</body>

</html>