<!DOCTYPE html>
<html>

<head>
  <meta chatset="utf-8">
  <title>FLEAS</title>
  <link rel="shortcut icon" href="images/store.ico">
  <link rel='stylesheet' href='stylesheets/common_style.css' />
  <link rel='stylesheet' href='stylesheets/market.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" type="text/css" href="dist/semantic.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="dist/semantic.js"></script>

</head>

<body>
  <div class="main ui container" id="all">
    <!-- 통일된 상단 메뉴 -->
    <header>
      <div id="head_top">
        <a href="login">로그인</a>
      </div>

      <a href="home" id="main_logo">
        <img class="market_img" src="images/market.png" alt="market icon">
        <div id="fleas">
          Fleas
        </div>
        <img class="market_img" src="images/market.png" alt="market icon">
      </a>

      <div class="ui five item menu">
        <a href="market" class="item">플리마켓</a>
        <a href="seller" class="active item">셀러</a>
        <a href="notice" class="item">공지사항</a>
        <a href="review" class="item">리뷰</a>
        <a href="mypage" class="item">마이페이지</a>
      </div>
    </header>

    <div>
      <h2 id="title">
        셀러
      </h2>
    </div>

    <div class="application">
      <form class="ui form" id="search">

        <div class="ui icon input find">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>

        <button class="ui button" id="search_btn">검색</button>
      </form>

      <div id="page_num">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
    </div>

  </div>

</body>

</html>