<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLEAS</title>
    <link rel="shortcut icon" href="images/store.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/setting.css">
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>

</head>

<body>
    <div class="ui container" id="conall">

        <header>
            <div id="head_top">
                <a href="login">로그인</a>
            </div>

            <div id="main_logo">
                <img class="market_img" src="images/market.png" alt="market icon">
                <div id="fleas">
                    Fleas
                </div>
                <img class="market_img" src="images/market.png" alt="market icon">
            </div>

            <div class="ui five item menu">
                <a href="/market" class="item">플리마켓</a>
                <a href="/seller" class="item">셀러</a>
                <a href="/notice" class="item">공지사항</a>
                <a href="/review" class="item">리뷰</a>
                <a href="/mypage" class="item">마이페이지</a>
            </div>
        </header>

        <div>
            <h2 id="title">
                회원정보수정
            </h2>
        </div>

        <div class="centertool">
            <table class="contenttool">
                <tr style="vertical-align:top;">
                    <td class="lefttool">
                        <label class="lefttitle">프로필사진변경</label>
                        <br>
                        <input type="file" name="profile_pt" id="profile_pt" onchange="previewImage(this,'View_area')">
                        <div id='View_area' class="loading"></div>
                    </td>
                    <td class="righttool">
                        <form class="ui form" style="margin-top: 35px;">
                            <div class="field">
                                <label>닉네임</label>
                                <input type="text" name="id" placeholder="ID">
                            </div>
                            <div class="field">
                                <label>업체명</label>
                                <input type="password" name="password" placeholder="Company">
                            </div>
                            <div class="field">
                                <label>상품</label>
                                <input type="password" name="password" placeholder="Product">
                            </div>
                            <div class="field">
                                <label>소개글</label>
                                <input type="password" name="password" placeholder="Introduction">
                            </div>
                            <input type="submit" id="form_btn" class="ui fluid large submit button" value="확인" style="    margin-top: 90px;
                            margin-left: -125px;
                            background-color: #FF8D87 !important;
                            width: 100px;">
                        </form>
                    </td>
                </tr>
            </table>

        </div>
    </div>


    <script>
        function previewImage(targetObj, View_area) {
            var preview = document.getElementById(View_area); //div id
            var ua = window.navigator.userAgent;

            //ie일때(IE8 이하에서만 작동)
            if (ua.indexOf("MSIE") > -1) {
                targetObj.select();
                try {
                    var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                    var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


                    if (ie_preview_error) {
                        preview.removeChild(ie_preview_error); //error가 있으면 delete
                    }

                    var img = document.getElementById(View_area); //이미지가 뿌려질 곳

                    //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                    img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + src + "', sizingMethod='scale')";
                } catch (e) {
                    if (!document.getElementById("ie_preview_error_" + View_area)) {
                        var info = document.createElement("<p>");
                        info.id = "ie_preview_error_" + View_area;
                        info.innerHTML = e.name;
                        preview.insertBefore(info, null);
                    }
                }
                //ie가 아닐때(크롬, 사파리, FF)
            } else {
                var files = targetObj.files;
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                    if (!file.type.match(imageType))
                        continue;
                    var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                    if (prevImg) {
                        preview.removeChild(prevImg);
                    }
                    var img = document.createElement("img");
                    img.id = "prev_" + View_area;
                    img.classList.add("obj");
                    img.file = file;
                    img.style.width = '250px';
                    img.style.height = '250px';
                    img.style.margin = '25px 75px';
                   img.style.borderRadius='100%';

                    preview.appendChild(img);
                    if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                        var reader = new FileReader();
                        reader.onloadend = (function (aImg) {
                            return function (e) {
                                aImg.src = e.target.result;
                            };
                        })(img);
                        reader.readAsDataURL(file);
                    } else { // safari is not supported FileReader
                        //alert('not supported FileReader');
                        if (!document.getElementById("sfr_preview_error_"
                            + View_area)) {
                            var info = document.createElement("p");
                            info.id = "sfr_preview_error_" + View_area;
                            info.innerHTML = "not supported FileReader";
                            preview.insertBefore(info, null);
                        }
                    }
                }
            }
        }

    </script>



</body>

</html>