<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <script src="/javascripts/image-resize.min.js"></script>
  <script src="/javascripts/write.js"></script>
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
  <header>
    <% include partials/header %>
      <% include partials/breadcrumb %>
  </header>
  <main id="main">
    <img class="introImageBoard" src="/images/background5.jpg" />
    <div class="ui container">
      <div id="title" style="margin-bottom : 20px;"></div>
      <div id="editor" style="height: 300px;"></div>
      <div class="ui clearing segment">
        <form action="http://openyearround.co.kr/upload" method="post" enctype="multipart/form-data" id="submitWithButton">
          <label for="file" class="ui icon button">
            <i class="file icon"></i> Add File</label>
          <input type="file" id="file" name="userfile" style="display:none">
        </form>
      </div>
      <button class="ui right floated primary basic button" id="saveButton">작성 완료</button>
    </div>
  </main>
  <footer>
    <% include partials/footer %>
  </footer>

  <script>
  $('body').ready(function () {
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],
      
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      
        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
      
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],
      
        ['clean'],                                         // remove formatting button
        ['image']
    ];

      
    var quillTitle = new Quill('#title', {
        theme: 'snow',
        placeholder : '제목을 입력해주세요',
        modules: {
            toolbar: false
          }
    });

    var quillContent = new Quill('#editor', {
        theme: 'snow',
        placeholder : '내용을 입력해주세요',
        modules:{
            toolbar : toolbarOptions,
            imageResize: {
                displaySize: true
              }
        }
    });

    $('#saveButton').click(()=>{
        var board = window.location.pathname;
        board = board.split('/')[1];

        $.ajax({
            method: "POST",
            url: "/write",
            data: {
              board : board,
              title : quillTitle.getText(),
              content : JSON.stringify(quillContent.getContents())
            }
          }).done(function (value) {
            $('#submitWithButton').append(addFormData('updateId',value.id));
            $('#submitWithButton').append(addFormData('board',board));
            $('#submitWithButton').submit();
            // location.href = '/' + board;
          }); 
    });
    window.a = quillContent;
});

function addFormData(name,value){
    return '<input type="hidden" name="'+ name +'" value="'+ value +'">';
}
  </script>
</body>

</html>