@charset "UTF-8";

#editor-container {
    height: 375px;
    background-color: white;
}
#title-container{
    background-color: white;
    margin-bottom: 20px;
}
#writebtn{
    background-color: #a8c2d4;
}
#wb{
    text-align: right;
    margin-top: 20px;
}