@charset "UTF-8";

#editor-container {
    min-height: 375px;
    height: auto;
    background-color: white;
}
/* #title-container{
    background-color: white;
    margin-bottom: 20px;
} */
#titlebar{
    margin-bottom: 20px;
    padding:12px 15px;
    width: 100%;
    border:1px solid #ccc;
    color:#000000de;
    outline: none;
}
#titlebar::placeholder{
    font-style: italic;
}
#writebtn{
    background-color: #a8c2d4;
}
#wb{
    text-align: right;
    margin-top: 20px;
}