@charset "UTF-8";

#search{
    border-bottom:0.5px solid #dededf;
    text-align: center;
    padding-bottom: 30px;
}
.find{
    width: 35% !important;
    vertical-align: middle !important;
    margin:0 5px 10px 0px !important;
}
.find2{
    width: 50% !important;
}
#search_btn{
    background-color: #a8c2d4;
    vertical-align: top;
    margin:2px 0 0 10px;
}
.elem{
    display:inline-block;
    width: 16%;
    margin: 13px 0 0 3%;
    cursor: pointer;
}
.elem img{
    width:100%;
}
ul{
    list-style: none;
    padding:1px;
    font-size: 12px;
}
li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
#article{
    margin-top: 20px;
    display:-webkit-box;
    width: 100%;
}
#page_num{
    text-align: center;
    margin-top: 5px;
    word-spacing: 5px;
}
#page_num span{
    cursor: pointer;
}