@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff');
a{
    color: black;
    text-decoration: none;
}
 body>.grid {
            height: 100%;
        }

        /* .image {
            margin-top: -100px;
        } */

        .column {
            max-width: 450px;
        }

        header {
            height: 20%;
            margin-top: 20px;
        }

        #fleas {
            font-family: 'Pacifico', cursive;
            font-size: 60px;
            font-weight: 400;
            margin-top: 35px;
        }

        #head_top {
            text-align: right;
        }

        .market_img {
            width: 80px;
        }

        #main_logo {
            display: -webkit-box;
            width: 300px;
            height: 50%;
            margin: 0 auto;
        }

        .item {
            box-sizing: border-box !important;
        }

        #join_button {
            /* background-color: #e65680; */
            margin-top: 30px;
        }

        #title {
            border-bottom: 0.5px solid #dededf;
            margin: 60px 20px;
            padding-bottom: 13px;
            font-weight: normal;
        }

        .application {
            border: 1px solid #22242626;
            background-color: #f3f4f5;
            margin: 0 100px;
            padding: 50px;
        }

        .form {
            width: 350px;
            margin: 0 auto;
        }

        #conall {
            height: 100%;
        }

        #sample6_postcode {
            width: 165px !important;
        }

#join_btn{
    text-decoration: underline;
}
#no_account{
    text-align: center;
    margin-top: 30px;
}
.maintool{
    margin-top: 50px;
    margin-bottom:30px;
    height: 80%;
            width: 100%;
            display: inline-flex;
            vertical-align:top;
}

        .centertool{
            height: 100%;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #22242626;
    background-color: #f3f4f5;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    position: relative;
        }
        .icontool{
            width: 15%;
            height: 10%;
            margin-top: 50px;
            margin-left: 5%;
            display: inline-flex;
        }
        li {
    display: list-item;
}
ul, ol {
    list-style: none;
}