      @import url('https://fonts.googleapis.com/css?family=Pacifico');
        @import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff');

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        header {
            height: 20%;
            margin-top: 20px;
        }

        #fleas {
            font-family: 'Pacifico', cursive;
            font-size: 60px;
            font-weight: 400;
            margin-top: 35px;
        }

        #head_top {
            text-align: right;
        }

        .market_img {
            width: 80px;
        }

        #main_logo {
            display: -webkit-box;
            width: 300px;
            height: 50%;
            margin: 0 auto;
        }

        .item {
            box-sizing: border-box !important;
        }

        #join_button {
            /* background-color: #e65680; */
            margin-top: 30px;
        }

        /* .button {
            background-color: #a8c2d4 !important;
        } */

        #title {
            border-bottom: 0.5px solid #dededf;
            margin: 60px 20px;
            padding-bottom: 13px;
            font-weight: normal;
        }

        .application {
            border: 1px solid #22242626;
            background-color: #f3f4f5;
            margin: 0 100px;
            padding: 50px;
        }

        .form {
            width: 350px;
            margin: 0 auto;
        }

        #conall {
            height: 100%;
        }

        #sample6_postcode {
            width: 165px !important;
        }

        .date {
            width: 160px !important;
        }

        .time {
            width: 140px !important;
        }
        a{
    color: black;
    text-decoration: none;
}

        .centertool {
            height: 45%;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 30px;
            border: 1px solid #22242626;
            background-color: #f3f4f5;
        }

        .toptool {          
            margin-bottom: 25px;
            vertical-align:top;
        }

        .propicture {
            border-radius: 50%;
            height: 220px;
            width: 230px;
        }

        .btnprofile {
            text-align: center;
    padding: 40px 50px 40px 170px;
        }

        .profilename {
            padding: 40px 380px 40px 0px;
        }
        .icontool{
            text-align:justify;
                text-align: right;
    padding-top: 60px;
        }

        .name {
            font-size: 28px;
            line-height: 1.5em;
            margin-top: 10px;
            display: inline-block;
        }

        .company {
            font-size: 28px;
            line-height: 1.5em;
            margin-top: 10px;
        }

        .goods {
            font-size: 28px;
            line-height: 1.5em;
            margin-top: 10px;
        }

        .memo {
            font-size: 18px;
            line-height: 1.5em;
            margin-top: 35px;
        }

        .menutool {
            border-top: 1px solid #efefef;
            text-align: center;
            width: 1127px;
            height: 52px;
            padding-top: 15px;
        }
        .menu2t {
            margin-right: 60px;
            height: 52px;
            font-size: 19px;
            margin-top: 5px;
            border-top: 1px solid #262626;
            padding-top: 12px;
        }
        .nmenu2t {
            margin-right: 60px;      
            height: 52px;
    font-size: 19px;
    margin-top: 5px;
        }
        
        .boardtool {
            flex-direction: column;
            padding-bottom: 0px;
            padding-top: 0px;
            width: 1127px;
    height: 45%;
        }
        .picturetool{
            text-align: center;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        .pposter {
            margin-right: 20px;
            margin-left: 10px;
            padding: 0px;
            width: 30%;
            height: 30%;
            border:0;
            outline:0;
}
.imgposter{
    border-style: none;
    margin: 0px;
    padding: 0px;
    width: 30%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
