@charset "UTF-8";

.notnum{
    width: 10%;
}
.nottitle{
    width: 60%;
}
.notuser{
    width: 15%;
}
.notdate{
    width: 15%;
}
table{
    text-align: center !important;
}
#writebtn{
    background-color: #a8c2d4;
}
#page_num{
    text-align: center;
    margin-top: 20px;
    word-spacing: 5px;
}
#page_num span{
    cursor: pointer;
}
.thr{
    width: 33%;
}
#not_foot{
    width: 100%;
    display: inline-flex;
}
#wb{
    text-align: right;
}
.notpostitem{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
tbody tr td:nth-child(2){
    text-align: left !important;
    padding-left:5% !important;
    cursor: pointer;
}
tbody tr td:nth-child(2):hover{
    text-decoration: underline;
}