@charset "UTF-8";

.right{
    float:right;
}
#posttitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    width: 70%;
    font-size: 15px;
    padding-left: 5px;
}
#postwriter{
    padding-left:5px;
}
#posttop{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dededf;
}
#quill_content{
    border: 1px solid #dededf;
    background-color: #ffffff;
    min-height: 500px;
    padding: 40px;
    margin: 30px;
}
#postbottom{
    text-align: center;
}
#postbottom button{
    background-color: #a8c2d4;
}
#postbottom button:nth-child(1),button:nth-child(2){
    float:left;
}
#postbottom button:nth-child(4),button:nth-child(5){
    float:right;
}