@charset "UTF-8";

.notnum{
    width: 80px;
}
.nottitle{
    width: auto;
}
.notuser{
    width: 120px;
}
.notdate{
    width: 140px;
}
table{
    text-align: center !important;
    margin-top:30px !important;
    table-layout: fixed !important;
}
#writebtn{
    background-color: #a8c2d4;
}
#page_num{
    text-align: center;
    margin-top: 20px;
    word-spacing: 5px;
}
#page_num a{
    margin:0 2px;
}
#page_num a:hover{
    font-weight: 600;
}
.thr{
    width: 33%;
}
#not_foot{
    width: 100%;
    display: inline-flex;
}
#wb{
    text-align: right;
}
.notpostitem{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
tbody tr td:nth-child(2){
    text-align: left !important;
    padding-left:5% !important;
    cursor: pointer; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    display: block;
}
tbody tr td:nth-child(2):hover{
    text-decoration: underline;
}
.pn_click{
    text-decoration: underline !important;
}